<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link th:href="@{/css/my_profile.css}" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet" />



</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="brand">Everything</div>
            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="/main">Home</a></li>
                    <li><a href="/note/createNote">Create Post</a></li>

                </ul>
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle"  th:text="${username}"><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile">Profile</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">Actions</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.nav-collapse -->
        </div>
    </div>
</div>



<br>
<div class="container" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="row panel">
                <div th:if="${isSubscribed=='True'}" class="col-md-4 bg_blur">
                    <a th:href="@{'/channel/unsubscribe/' + ${channel.id}}" class="follow_btn hidden-xs">Unsubscribe</a>
                </div>
                <div th:if="${isSubscribed=='False'}" class="col-md-4 bg_blur">
                    <a th:href="@{'/channel/subscribe/' + ${channel.id}}" class="follow_btn hidden-xs">Subscribe</a>
                </div>
        <div class="col-md-8  col-xs-12">
            <img th:src="@{'data:image/jpeg;base64,'+${channel.avatar}}" class="img-thumbnail picture hidden-xs" />
            <img th:src="@{'data:image/jpeg;base64,'+${channel.avatar}}" class="img-thumbnail visible-xs picture_mob" />
            <div class="header">
                <h1 th:text="${channel.username}"></h1>
                <h4 th:text="${channel.status}"></h4>
                <span th:text="${channel.description}"></span>
            </div>
        </div>
    </div>


    <div class="row nav">
        <div class="col-md-4"></div>
        <div class="col-md-8 col-xs-12" style="margin: 0;padding: 0;">
            <div class="col-md-4 col-xs-4 well"> Notes</div>
            <div class="col-md-4 col-xs-4 well"> Subscribers</div>
            <div class="col-md-4 col-xs-4 well"> Subscriptions</div>
        </div>
    </div>
    <div class="row nav">
        <div class="col-md-4"></div>
        <div class="col-md-8 col-xs-12" style="margin-top: -20px;padding: 0;">
            <div class="col-md-4 col-xs-4 well" th:text="${numberOfNotes}"></div>
            <div class="col-md-4 col-xs-4 well" th:text="${channel.subscribers.size()}"></div>
            <div class="col-md-4 col-xs-4 well" th:text="${channel.subscriptions.size()}"></div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div th:each="note : ${notes}" class="main">
        <h2 th:text="${note.author}"></h2>
        <h5 th:text="${note.creationDate}"></h5>
        <div align="center">
            <pre th:text="${note.content}"></pre>
            <br>
            <div th:if="${note.attachmentType=='image'}">
                <img  th:src="@{'data:image/jpeg;base64,'+${note.attachment}}" width="500" height="600" alt="image"/>
            </div>
            <div th:if="${note.attachmentType=='audio'}">
                <audio controls>

                    <source th:src="@{'data:audio/mpeg;base64,'+${note.attachment}}" type="audio/mpeg">
                    Your browser does not support the audio tag.
                </audio>
            </div>
            <div th:if="${note.attachmentType=='video'}">
                <video width="640" height="360" controls>
                    <source th:src="@{'data:video/mp4;base64,'+${note.attachment}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <br>
    </div>
</div>
</body>
</html>