<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="brand">Everything</div>
            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="/main">Home</a></li>
                    <li><a href="/note/createNote">Create Post</a></li>
                    <li class="active"><a href="/contacts">Contacts</a></li>

                </ul>
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle"  th:text="${person.username}"><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile">Profile</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">Actions</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.nav-collapse -->
        </div>
    </div>
</div>



<h3>Contact requests</h3>
<div th:each="contactRequest :${contactRequests}">
    <div >
        <a style="color: #333333" th:href="@{'/channel/'+${contactRequest.from.id}}"> <h5 th:text="${contactRequest.from.username}"></h5></a>
    </div>
</div>
<hr>
<h3>Contacts</h3>
<div th:each="contact :${contacts}">
    <div >
        <a style="color: #333333" th:href="@{'/channel/'+${contact.id}}"> <h5 th:text="${contact.username}"></h5></a>
    </div>
</div>




</body>
</html>