<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="brand">Everything</div>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="/main">Home</a></li>
                    <li><a href="/note/createNote">Create Post</a></li>

                </ul>
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle"  th:text="${person.username}"><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile">Profile</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">Actions</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.nav-collapse -->
        </div>
    </div>
</div>


<div class="row">
    <div th:each="note : ${notes}" class="main">
        <a style="color: #333333" th:href="@{'/channel/'+${note.authorId}}"><h2 th:text="${note.author}"></h2></a>
        <h5 th:text="${note.creationDate}"></h5>
        <div align="center">
            <pre th:text="${note.content}"></pre>
            <br>
            <div th:if="${note.attachmentType=='image'}">
                <img  th:src="@{'data:image/jpeg;base64,'+${note.attachment}}" width="500" height="600" alt="image"/>
            </div>
            <div th:if="${note.attachmentType=='audio'}">
                <audio controls>

                    <source th:src="@{'data:audio/mpeg;base64,'+${note.attachment}}" type="audio/mpeg">
                    Your browser does not support the audio tag.
                </audio>
            </div>
            <div th:if="${note.attachmentType=='video'}">
                <video width="640" height="360" controls>
                    <source th:src="@{'data:video/mp4;base64,'+${note.attachment}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div th:text="${note.likes.size()}" style="display: inline"> </div>
            <div th:unless="${note.likedByThisUser}" style="display: inline"><a th:href="@{'/note/likeNote/'+${note.id}}">Like</a> </div>
            <div th:if="${note.likedByThisUser}" style="display: inline"><a th:href="@{'/note/unlikeNote/'+${note.id}}">Unlike</a> </div>
        </div>
        <br>
    </div>
</div>

</body>
</html>